P {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.nu-vio:hover {
	COLOR: #004b5f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.nu-vio {
	COLOR: #a0a0a0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.vi-vio {
	COLOR: #004b5f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small
}
.hd-vio:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.hd-vio {
	COLOR: #004b5f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.nu-vios:hover {
	COLOR: #004b5f; FONT-FAMILY: Arial Narrow, Helvetica-Narrow, Univers 55, Arial, Helv, Helvetica; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.nu-vios {
	COLOR: #333333; FONT-FAMILY: "Arial Narrow", Helvetica-Narrow, "Univers 55", Arial, Helv, Helvetica; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.vi-vios {
	COLOR: #004b5f; FONT-FAMILY: Arial Narrow, Helvetica-Narrow, Univers 55, Arial, Helv, Helvetica; FONT-SIZE: x-small
}
.hd-vios:hover {
	FONT-FAMILY: Arial Narrow, Helvetica-Narrow, Univers 55, Arial, Helv, Helvetica; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.hd-vios {
	COLOR: #004b5f; FONT-FAMILY: Arial Narrow, Helvetica-Narrow, Univers 55, Arial, Helv, Helvetica; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.table {
	COLOR: #000000; FONT-FAMILY: "Arial Narrow", Helvetica-Narrow, "Univers 55", Arial, Helv, Helvetica; FONT-SIZE: 10pt
}
.navbar {
	COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.td-palito {
	COLOR: #999999; FONT-FAMILY: "Arial Narrow", Helvetica-Narrow, Arial, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.nu-map {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.vi-map {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.hd-map:hover {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
.hd-map {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-DECORATION: none
}
